/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#googleMap{
    /*This will get you browser width 100%*/
    position:absolute;
    left:0;
    right:0;

    /* This will get you the browser height*/
    /*height:100vh;*/
}
